<h2>List</h2>

{{#each model as |other|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{#link-to 'other' other class='other-link'}}{{other.name}}{{/link-to}}</h3>
        </div>
    </div>
{{/each}}