<h2>List</h2>

{{#each model as |freefood|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{#link-to 'freefood' freefood class='freefood-link'}}{{freefood.name}}{{/link-to}}</h3>
        </div>
    </div>
{{/each}}