<div class="content" id="content">

<div class="overlay">

<div class="container-fluid">

            <nav class="navbar navbar-default" style="background-color: #fff; border: 0px; font-size:15px">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li>{{#link-to 'amsclubevent.events'}}Events{{/link-to}}</li>
                  </ul>
              </div>
            </nav>


        {{outlet}} 

        </div>
        </div>
        </div>