<h2>List</h2>

{{#each model as |amsclubevent|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{#link-to 'amsclubevent' amsclubevent class='amsclubevent-link'}}{{amsclubevent.name}}{{/link-to}}</h3>
        </div>
    </div>
{{/each}}