<style>
    #test {
        padding: 30px;
    }

    .center-div {
        margin: 0 auto;
        width: 500px;
    }
</style>

<div id="test">
    <div class="center-div">
        <p style="font-size:5em; text-align:center">UBCEvents</p>

        <div class="btn-group text-center" style="position:relative; left:20px;">
            <button type="button" class="btn btn-default">REC Centre</button>
            <button type="button" class="btn btn-default">AMS Clubs</button>
            <button type="button" class="btn btn-default">UBC Faculty</button>
            <button type="button" class="btn btn-default">Free Food</button>
            <button type="button" class="btn btn-default">Others</button>
        </div>
    </div>
</div>