<style>
    #frontPage {
        padding: 30px 0 10px 0;
    }

    .center-div {
        margin: 0 auto;
        width: 100%;
    }

    .centerBlock {
        display: table;
        margin: 0 auto;
    }

    .thumbnail {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    a > a {
        color: black !important;
        text-decoration: none !important;
    }

    input {
        height: 30px;
    }
</style>

<div id="frontPage">
    <div class="center-div" style="text-align:center">
        <p style="font-size:5em; color: #474747; font-family:helvetica;">UBCEvents</p>

        <p style="font-size:1em; color: #474747; font-family:helvetica;">
        Now, all UBC Events are organized into one place. See you around! </p>


        <br>


        <div style="display:inline-block; width:100px;"></div>

        <div class="btn-group text-center" style="position:relative; left:-45px;">
            <a href="#" class="btn btn-default" style="color:black; text-decoration:none;">{{#link-to 'index'}}All Events{{/link-to}}</a>
            <a class="btn btn-default" href="/reccentre/-KBanIIWQzHcDAehkjjK/events">Rec Centre</a>
            <a class="btn btn-default" href="/amsclubevent/-KBbA3i6Ce7VEGhHQNUx/events">AMS Clubs</a>
            <a class="btn btn-default" href="/ubcfaculty/-KBb9oDpOgEElydg8Sd6/events">UBC Faculty</a>
            <a class="btn btn-default" href="freefood/-KBbtexjOW905cy88t9a/events">Free Food</a>
            <a class="btn btn-default" href="other/-KBc8bYp3Q-nIRg6r-wL/events">Other Events</a>

        </div>
    </div>
    <div class="center-div">
    </div>
</div>


