<h3> {{model.name}}'s Events </h3>

<div class="row" style="text-align:center;">
    {{#each model.event as |event|}}
    <div class="col-xs-3 col-md-3">
        <div class="centerBlock">
            <img src="{{event.other.imagePath}}" class="thumbnail" style="height:180px; width:171px;">
        </div>
        {{event.name}} at {{event.location}}
    </div>
    {{/each}}
</div>

<br>
<br>
      
      
{{#link-to 'other.new-event' model class='new-event'}}
  Add new Event
{{/link-to}}