<h2>List</h2>

{{#each model as |reccentre|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{#link-to 'reccentre' reccentre class='reccentre-link'}}{{reccentre.name}}{{/link-to}}</h3>
        </div>
    </div>
{{/each}}